# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Coverage directory used by tools like istanbul
coverage/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 